:root {
  --dot-size: 8px;
  --light-grey: #969696;
  --dark-grey: #111;
  --visted-link: #9b59b6;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
}

ul {
  padding: 0;
}

.layout {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-400);

  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-grey);

  max-width: 990px;
  margin: 0 auto;
  padding: var(--spacing-400) 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: var(--spacing-300) var(--spacing-200);
  }

  @media screen and (min-width: 779px) and (max-width: 990px) {
    flex-direction: column;
    padding: var(--spacing-400) var(--spacing-200);
  }
}
