:root {
  --dot-size: 8px;
  --light-grey: #969696;
  --dark-grey: #111;
  --visted-link: #9b59b6;
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;

  /* I prefer to use hsl color code */
  --shadow-color: 0deg 0% 63%;

  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

ul {
  padding: 0;
}

.layout {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-400);

  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-grey);

  max-width: 990px;
  margin: 0 auto;
  padding: var(--spacing-400) 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: var(--spacing-300) var(--spacing-200);
  }

  @media screen and (min-width: 779px) and (max-width: 990px) {
    flex-direction: column;
    padding: var(--spacing-400) var(--spacing-200);
  }
}
